<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viewing collection {{ collection.name }}</title>
</head>
<body>
{% if logs|length > 0 %}
    <ul>
    {% for log in logs %}
        <li>
            <a>{{ log.received_time }}</a>
            <ul>
                <li>IP address: {{ log.ip_addr }}</li>
                <li>Contents: {{ log.log_text }}</li>
            </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Collection {{ collection.name }} contains no logs.</p>
{% endif %}
</body>
</html>